body {
  background-color: #e8e8e8;
}

.card {
  width: 250px;
  height: 400px;
  position: relative;
  background: #f5f5f5;
  color: #252525;
  border-radius: 10px;
  overflow: hidden;
  line-height: 150%;
  box-shadow: 0px 10px 20px rgba(80, 80, 80, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}

.profile-image {
  transition: transform 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(80, 80, 80, 0.3);
  z-index: 3;
}
.card-img {
  background: #00ff88;
  background: linear-gradient(45deg, hsla(190, 79%, 59%, 1) 0%, hsla(226, 50%, 65%, 1) 100%);
  height: 100%;
  width: 100%;
  position: absolute;
  transition: transform 0.3s ease-in-out;
  z-index: 2;
}
.card-info {
  position: absolute;
  bottom: 0.5em;
  width: 100%;
  text-align: center;
}

/* Buttons */
.social-media {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 1rem;
  transform: translateY(-6em);
  z-index: 3;
}

.social-media li {
  background: #f5f5f5;
  display: inline-flex;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
/* Icons */
.social-media li svg {
  --size: 24px;
  width: var(--size);
  height: var(--size);
  fill: #252525;
}

/* Texts */
.title {
  font-size: 1.5em;
  font-weight: bold;
}

.subtitle {
  letter-spacing: 1px;
  font-size: 0.9em;
}

/* Hovers */
.card:hover {
  box-shadow: 0px 15px 30px rgba(80, 80, 80, 0.3);
}

.card:hover .profile-image {
  transform: translateY(-48%);
  /* box-shadow: 0px 0px 10px rgba(80, 80, 80, 1); */
}

.card:hover .card-img {
  /* transform: translateY(-25%); */
  transform: scaleY(20%) translateY(75%);
}

.card:hover .social-media li {
  transform: translateY(-10%);
  opacity: 1;
}

.card:hover .social-media li:nth-child(1) {
  transition-delay: 0s;
}

.card:hover .social-media li:nth-child(2) {
  transition-delay: 0.1s;
}

.card:hover .social-media li:nth-child(3) {
  transition-delay: 0.2s;
}
